<h1>Skate Park</h1>

<div class="py-4">
    <h2>Administrador: <span id="username"></span></h2>
    <hr class="w-100" />

    {{#if data}}
        <table class="table w-75 admin__table m-auto">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Foto</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Años de experiencia</th>
                    <th scope="col">Especialidad</th>
                    <th scope="col">Estado</th>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                    <tr>
                        <th scope="row">1</th>
                        <td class="admin__td-img"><img
                                class="admin__img"
                                src="./assets/imgs/{{photo}}"
                                alt="nombre"
                            /></td>
                        <td>{{nombre}}</td>
                        <td>{{years_experience}}</td>
                        <td>{{specialty}}</td>
                        {{#if state}}
                            <td><input type="checkbox" class="check" checked id="{{id}}" /></td>
                        {{else}}
                            <td><input type="checkbox" class="check" id="{{id}}" /></td>
                        {{/if}}

                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{/if}}
</div>

<div>
    <button class="btn data__btn-logout my-3" type="button" id="logout">Cerrar sesión</button>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="./assets/js/admin.js"></script>