<section class="py-4">
    <h2>Administrador: <span id="username"></span></h2>
    <div>
        <button class="btn data__btn-logout my-3" type="button" id="logout">Cerrar sesión</button>
    </div>
    <hr class="w-100" />

    {{#if data}}
        <h2>Lista de Skaters</h2>
        <div class="admin__skaters-table">
            <table class="table w-75 admin__table m-auto">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Foto</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Años de experiencia</th>
                        <th scope="col">Especialidad</th>
                        <th scope="col">Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data}}
                        <tr>
                            <th scope="row">{{id}}</th>
                            <td class="admin__td-img"><img
                                    class="admin__img"
                                    src="./assets/imgs/{{photo}}"
                                    alt="nombre"
                                /></td>
                            <td>{{nombre}}</td>
                            <td>{{years_experience}}</td>
                            <td>{{specialty}}</td>
                            {{#if state}}
                                <td><input type="checkbox" class="check" checked id="{{id}}" /></td>
                            {{else}}
                                <td><input type="checkbox" class="check" id="{{id}}" /></td>
                            {{/if}}

                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    {{/if}}

    <div class="my-5 pt-3">
        <h4>Registro de administradores</h4>
        <form id="registerAdmin">
            <div class="form-group row w-50 m-auto">
                <div class="form-group col-12 col-sm-6 my-3">
                    <label for="username">Username</label>
                    <input class="form-control m-auto" type="text" name="username" required />
                </div>
                <div class="form-group col-12 col-sm-6 my-3">
                    <label for="email">Email</label>
                    <input class="form-control m-auto" type="email" name="email" required />
                </div>
                <div class="form-group col-12 col-sm-6 my-3">
                    <label for="password">Contraseña</label>
                    <input class="form-control m-auto" type="password" name="password" required />
                </div>
                <div class="form-group col-12 col-sm-6 my-3">
                    <label for="rept_password">Repita la contraseña</label>
                    <input class="form-control m-auto" type="password" name="rept_password" required />
                </div>
            </div>
            <button class="btn register__btn my-3" type="submit">Registrar admin</button>
        </form>
    </div>

    <div>
        <h2>Lista de administradores</h2>
        {{#if dataAdmin}}
            <div class="admin__skaters-table">
                <table class="table w-50 admin__table m-auto my-5">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Username</th>
                            <th scope="col">Email</th>
                            <td scope="col"></td>
                            <td scope="col"></td>

                        </tr>
                    </thead>
                    <tbody>
                        {{#each dataAdmin}}
                            <tr>
                                <th scope="row">{{id}}</th>
                                <td>{{username}}</td>
                                <td>{{email}}</td>
                                <td><button
                                        class="btn admin__btn-update btn-update fa-regular fa-pen-to-square"
                                        type="button"
                                        id="{{id}}"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="bottom"
                                        data-bs-title="Actualizar"
                                        data-bs-toggle="modal"
                                        data-bs-target="#exampleModal"
                                    ></button>
                                </td>
                                <td><button
                                        class="btn admin__btn-delete btn-delete fa-regular fa-trash-can"
                                        type="button"
                                        id="{{id}}"
                                        data-bs-toggle="tooltip"
                                        data-bs-placement="bottom"
                                        data-bs-title="Eliminar"
                                    ></button></td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        {{/if}}
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title fs-2">Actualizar administrador</h2>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <form id="updateForm">
                        <div class="form-group row">
                            <div class="form-group col-12 my-3">
                                <label for="username" class="labelForm">Username</label>
                                <input
                                    class="form-control input-update"
                                    type="text"
                                    name="username"
                                    required
                                />
                            </div>
                            <div class="form-group col-12 my-3">
                                <label for="email" class="labelForm">Email</label>
                                <input class="form-control input-update" type="email" name="email" required />
                            </div>
                            <div class="form-group col-12 my-3">
                                <label for="password" class="labelForm">Contraseña</label>
                                <input
                                    class="form-control input-update"
                                    type="password"
                                    name="password"
                                    required
                                />
                            </div>
                            <div class="form-group col-12 my-3">
                                <label for="rept_password" class="labelForm">Repita la contraseña</label>
                                <input
                                    class="form-control input-update"
                                    type="password"
                                    name="rept_password"
                                    required
                                />
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn__update" id="btnUpdate">Actualizar</button>
                </div>
            </div>
        </div>
    </div>

</section>

<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"
></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="./assets/js/admin.js"></script>