<h1>Skate Park</h1>

<div class="py-4">
    <h2>Lista de participantes</h2>

    <hr />
    <section class="container">
        <div class="table-responsive">
            <table class="table table-hover home__table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Foto</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Años de experiencia</th>
                        <th scope="col">Especialidad</th>
                        <th scope="col">Estado</th>
                    </tr>
                </thead>
                <tbody>

                    {{#if data}}

                        {{#each data}}
                            <tr>
                                <th scope="row">{{id}}</th>
                                <td class="home__td-img"><img
                                        src="/assets/imgs/{{photo}}"
                                        alt="{{nombre}}"
                                        class="home__img"
                                    /></td>
                                <td>{{nombre}}</td>
                                <td>{{years_experience}}</td>
                                <td>{{specialty}}</td>
                                <td class="text-success font-weight-bold">{{state}}</td>
                            </tr>

                        {{/each}}
                    {{/if}}

                    {{! <tr>
                        <th scope="row">1</th>
                        <td><div></div></td>
                        <td>Tony Hawk</td>
                        <td>12</td>
                        <td>Kickflip</td>
                        <td class="text-success font-weight-bold">Aprobado</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td><div></div></td>
                        <td>Evelien Bouilliart</td>
                        <td>10</td>
                        <td>Heelflip</td>
                        <td class="text-success font-weight-bold">Aprobado</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td><div></div></td>
                        <td>Danny Way</td>
                        <td>8</td>
                        <td>Ollie</td>
                        <td class="text-warning font-weight-bold">En revisión</td>
                    </tr> }}
                </tbody>
            </table>
        </div>
    </section>
    <a href="/login">Iniciar sesión</a>
    |
    <a href="/register">Registrarme</a>
</div>