<h1>Skate Park</h1>

<div class="py-4">
    <h2>Lista de participantes</h2>

    <hr />
    <section class="container">
        <div class="table-responsive">
            <table class="table table-hover home__table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Foto</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Años de experiencia</th>
                        <th scope="col">Especialidad</th>
                        <th scope="col">Estado</th>
                    </tr>
                </thead>
                <tbody>

                    {{#if data}}

                        {{#each data}}
                            <tr>
                                <th scope="row">{{id}}</th>
                                <td class="home__td-img"><img
                                        src="/assets/imgs/{{photo}}"
                                        alt="{{nombre}}"
                                        class="home__img"
                                    /></td>
                                <td>{{nombre}}</td>
                                <td>{{years_experience}}</td>
                                <td>{{specialty}}</td>
                                {{#if state}}
                                    <td class="text-success font-weight-bold">Aprobado</td>
                                {{else}}
                                    <td class="text-warning-emphasis font-weight-bold">En revisión</td>
                                {{/if}}
                            </tr>

                        {{/each}}
                    {{/if}}
                </tbody>
            </table>
        </div>
    </section>
    <a href="/login">Iniciar sesión</a>
    |
    <a href="/register">Registrarme</a>
</div>